body {
   font-family: Open Sans;
   font-weight: 400;
   scroll-behavior: smooth;
   padding-left: 20px;
   padding-right: 20px;
}

.container {
   max-width: 1603px;
   margin: 0 auto;
}

header {
   background-image: url(../images/cooper-1.png);
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
   color: rgba(255, 255, 255, 1);
   max-width: 1603px;
   margin: 0 auto 190px;
}

header::before {
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: rgba(13, 12, 33, 0.65);
   pointer-events: none;
}

.menu {
   display: flex;
   justify-content: space-between;
   background-color: rgba(41, 162, 140, 0.11);
   position: relative;
   backdrop-filter: blur(3px);
}

.menu__nav {
   display: flex;
   flex-basis: 890px;
   justify-content: space-between;
   align-items: center;
   margin-right: 70px;
}

.menu__nav-item {
   font-size: 18px;
}

.menu__logo {
   padding: 16px 0 13px 77px;
   display: flex;
   align-items: center;
   position: relative;
}

.menu__logo-bg {
   position: absolute;
   z-index: -1;
   left: 83px;
}

.menu__logo-text {
   text-transform: uppercase;
   font-size: 18px;
   font-weight: 700;
   padding-left: 11px;
}

.menu__dropdown-items {
   display: none;
   opacity: 0;
   transition: all 1s;
}

.menu__dropdown {
   position: relative;
}

.menu__dropdown:hover::after {
   transform: rotate(0deg);
}

.menu__dropdown::after {
   content: '';
   background-image: url(../images/arrow.svg);
   display: inline-block;
   width: 12px;
   height: 10px;
   background-size: cover;
   background-repeat: no-repeat;
   transition: transform 0.3s ease;
   transform: rotate(-90deg);
}

.menu__dropdown-items a:hover {
   background-color: #f1f1f1;
   color: #000;
}

.menu__dropdown:hover .menu__dropdown-items {
   display: block;
   position: absolute;
   opacity: 1;
   width: 100px;
}

.header__items {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   height: 678px;
}

.header__title {
   text-transform: uppercase;
   font-size: 47px;
   line-height: 64.01px;
   letter-spacing: 0.08em;
   text-align: center;
   z-index: 1;
   width: 871px;
}

.header__button {
   border-radius: 43px;
   padding: 12px 39px;
   border: 1px solid rgba(255, 255, 255, 1);
   z-index: 1;
   cursor: pointer;
}

.header__arrow-bottom {
   z-index: 1;
}

.digits {
   max-width: 1301px;
   margin: 0 auto 180px;
}

.digits__items {
   display: grid;
   grid-template-columns: calc(197px + 92px) 369px 347px calc(92px + 210px);
   justify-content: space-around;
   grid-template-columns: 1fr 1.5fr 1.5fr 1fr;
}

.digits__column:nth-child(1) {
   max-width: 197px;
}

.digits__column:nth-child(2) {
   padding: 0 92px 0;
}

.digits__column:nth-child(3) {
   padding: 0 92px 0;
}

.digits__column:nth-child(4) {
   padding-left: 92px;
}

.digits__column+.digits__column {
   border-left: 3px solid rgba(41, 162, 140, 1);
}

.digits__item {
   font-size: 48px;
   font-weight: 600;
   line-height: 65.37px;
   letter-spacing: 0.08em;
   text-align: center;
}

.digits__descr {
   font-size: 16px;
   line-height: 21.79px;
   letter-spacing: 0.02em;
   text-align: center;
}

.garanty {
   max-width: 1450px;
   margin: 0 auto 239px;
}

.garanty__wrapper {
   display: flex;
}

.garanty__content-inner {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: column;
   max-width: 710px;
   margin-left: 30px;
}

.garanty__quote {
   font-size: 40px;
   font-weight: 700;
   line-height: 54.47px;
   letter-spacing: 0.045em;
   text-align: center;
   position: relative;
   max-width: 710px;
   margin: 56px 0 0 0;
}

.garanty__quote::before {
   content: '';
   background-image: url(../images/icons8-цитата-слева-60\ 1.png);
   background-size: contain;
   background-repeat: no-repeat;
   width: 60px;
   height: 60px;
   position: absolute;
   top: 64px;
   left: 0;
}

.garanty__quote::after {
   content: '';
   background-image: url(../images/icons8-цитата-справа-60\ 1.png);
   background-size: contain;
   background-repeat: no-repeat;
   width: 60px;
   height: 60px;
   position: absolute;
   bottom: 72px;
   right: 0;
}

.garanty__text {
   font-size: 23px;
   line-height: 31.32px;
   letter-spacing: 0.025em;
   text-align: center;
   max-width: 569px;
   margin-top: 47px;
}

.garanty__button {
   font-size: 16px;
   line-height: 21.79px;
   letter-spacing: -0.015em;
   text-align: center;
   border: 1px solid #000;
   color: rgba(255, 255, 255, 1);
   background-color: #000;
   border-radius: 32px;
   padding: 15px 35px;
   margin-bottom: 115px;
   margin-top: 23px;
   cursor: pointer;
   box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.25);
}

.garanty__button:hover {
   background-color: #fff;
   color: #000;
}

.garanty__descr {
   /* margin: 0 auto auto 50px; */
   max-width: 657px;
   font-size: 13px;
   font-weight: 300;
   line-height: 19.78px;
   letter-spacing: 0.085em;
   text-align: center;
}

.services {
   max-width: 1244px;
   margin: 0 auto 121px;
}

.title {
   font-size: 40px;
   font-weight: 700;
   line-height: 54.47px;
   letter-spacing: 0.045em;
   text-align: center;
   margin: 0 auto 130px;
}

.cards {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border: 2px dashed rgba(123, 97, 255, 1);
   padding: 20px;
   border-radius: 5px;
   cursor: pointer;
}

.card {
   border-radius: 27px;
   box-shadow: 0px 3px 11px 0px rgba(152, 152, 152, 0.56);
   width: 340px;
   height: 551.7px;
   overflow: visible;
   position: relative;
}

.card:hover {
   box-shadow: 0px 3px 11px 0px rgba(3, 74, 62, 0.56);
}

/* для лейбла в углу */
.card__label {
   position: absolute;
   top: 0;
   right: 0;
   border-top-right-radius: 27px;
   /* Закругление угла */
   border-top: 5em solid #017B65;
   /* Цвет треугольника */
   border-right: 5em solid #017B65;
   /* Цвет треугольника */
   border-left: 5em solid transparent;
   border-bottom: 5em solid transparent;
   box-shadow: 8px -3px 5px -4px rgba(0, 0, 0, 0.49);
}

.card__icon {
   position: absolute;
   background-repeat: no-repeat;
   right: 17px;
   top: 17px;
}

.card__content {
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   margin: 0px 45px 0px 52px;
   height: 475px;
}

.card__title {
   font-size: 20px;
   font-weight: 400;
   line-height: 27.94px;
   letter-spacing: 0.065em;
   text-align: left;
   margin: 108px 0 0px 0px;
   text-transform: uppercase;
   width: 235px;
}

.card__descr {
   font-size: 14px;
   font-weight: 300;
   line-height: 21.45px;
   letter-spacing: -0.015em;
   text-align: left;
}

.more__btn {
   width: 244px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   transition: color 0.3s ease;
   cursor: pointer;
}

.more__img-1 {
   width: 39px;
   height: 30.56px;
}

.more__btn:hover {
   color: rgba(41, 162, 140, 1);
}

.more__img-1 path {
   transition: fill 0.3s ease;
}

.more__img-2 path {
   transition: stroke 0.3s ease;
}

.more__btn:hover .more__img-1 path {
   fill: rgba(41, 162, 140, 1);
}

.more__btn:hover .more__img-2 path {
   stroke: rgba(41, 162, 140, 1);
}

.more__btn_uppercase {
   text-transform: uppercase;
   font-size: 20px;
   font-weight: 400;
   line-height: 27.94px;
   letter-spacing: 0.065em;
   width: 326px;
   margin-bottom: 21px;
}

.portfolio {
   margin: 0 auto 180px;
   max-width: 1350px;
}

.portfolio__wrapper {
   display: flex;
   padding: 0 19px 0 65px;
   position: relative;
}

.portfolio__content {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 640px;
   margin-left: 31px;
}

.portfolio__button {
   text-align: center;
   margin: 70px auto 0;
   display: block;
   padding: 12px 40px;
   color: #fff;
   border: 1px solid rgba(0, 0, 0, 1);
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   border-radius: 43px;
   background-color: #000;
   font-size: 16px;
   font-weight: 400;
   line-height: 21.79px;
   cursor: pointer;
}

.portfolio__name {
   font-size: 36px;
   font-weight: 400;
   line-height: 49.03px;
   letter-spacing: 0.045em;
   text-align: left;
   text-transform: uppercase;
}

.portfolio__text {
   font-size: 18px;
   font-weight: 400;
   line-height: 27.12px;
   letter-spacing: 0.01em;
   text-align: left;
   max-width: 524px;
}

.portfolio .slick-arrow {
   font-size: 0;
   width: 14px;
   height: 26px;
   position: absolute;
   z-index: 2;
   top: 50%;
   cursor: pointer;
   transition: all 1s;
}

.portfolio .slick-arrow.slick-next {
   background: url(../images/arrow-next.png) 0 0 / 100% no-repeat;
   right: -10px;
   margin-right: 10px;
}

.portfolio .slick-arrow.slick-prev {
   background: url(../images/arrow-prev.png) 0 0 / 100% no-repeat;
   left: 0;
}

.portfolio__slider .slick-slide,
.process__slider .slick-slide {
   display: flex !important;
}

.process {
   max-width: 1411px;
   margin: 0 auto 180px;
}

.process__wrapper {
   display: flex;
   flex-direction: row-reverse;
}

.process__content {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 548px;
   margin-left: 30px;
}

.process__name {
   font-size: 36px;
   font-weight: 400;
   line-height: 49.03px;
   letter-spacing: 0.045em;
   text-transform: uppercase;
}

.process__text {
   font-size: 18px;
   font-weight: 400;
   line-height: 27.12px;
   letter-spacing: 0.01em;
}

.process .slick-dots li {
   border: 1px solid #000;
   width: 93px;
   height: 56px;
   padding: 16px 0;
   text-align: center;
   display: block;
   cursor: pointer;
}

.process .slick-dots .slick-active {
   border: 1px solid rgba(41, 162, 140, 1);
   color: rgba(41, 162, 140, 1);
}

.process .slick-dots li+li {
   margin-top: 23px;
}

.process ul.slick-dots {
   display: flex;
   flex-direction: column;
   position: relative;
   left: -30px;
   padding-left: 30px;
}

.technologies {
   max-width: 1450px;
   margin: 0 auto 180px;
   padding-left: 10px;
   padding-right: 10px;
}

.technologies__row-1,
.technologies__row-2 {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   align-items: center;
   max-width: 100%;
}

.technologies__title {
   margin-bottom: 160px;
}

.technologies__row-1 {
   margin-bottom: calc(106px - 25px);
}

.technologies__row-2>div {
   position: relative;
   top: 25px;
}

.technologies__row-2>div>img:nth-child(2) {
   transform: translate(0px, -25px);
}

.feedback {
   max-width: 1600px;
   height: 548px;
   margin: 0 auto 180px;
}

.feedback__wrapper {
   display: flex;
}

.feedback__review {
   display: flex;
   flex-basis: 692px;
   justify-content: space-between;
   align-items: center;
   text-align: center;
   flex-direction: column;
   background: rgba(2, 123, 102, 0.1);
}

.feedback__image {
   margin: 75px 0 15px;
}

.feedback__name {
   font-size: 20px;
   font-weight: 400;
   line-height: 36.54px;
   letter-spacing: 0.045em;
   text-transform: uppercase;
}

.feedback__job-title {
   font-size: 18px;
   font-weight: 300;
   line-height: 24.51px;
   letter-spacing: 0.025em;
}

.feedback__text {
   font-size: 16px;
   font-weight: 300;
   line-height: 21.79px;
   letter-spacing: 0.025em;
   color: rgba(81, 81, 81, 1);
   width: 419px;
   margin: 28px 0 53px;
}

.feedback__rating {
   display: flex;
   flex-direction: row;
   gap: 5px;
   font-size: 32px;
   cursor: pointer;
   user-select: none;
}

.feedback__rating span {
   color: gold;
   transition: color 0.3s;
}

/* Подсвечивание звёзд при наведении (слева направо) */
.feedback__rating span:hover,
.feedback__rating span:hover~span {
   color: gray;
}

/* Фиксация цвета при выборе */
.feedback__rating span.selected,
.feedback__rating span.selected~span {
   color: gray;
}

.feedback__data {
   font-size: 16px;
   font-weight: 300;
   line-height: 21.79px;
   letter-spacing: 0.025em;
   color: rgba(108, 108, 108, 1);
   margin: 0px 0 91px;
}

.feedback__form {
   display: flex;
   flex-basis: 908px;
   align-items: center;
   flex-direction: column;
   background: linear-gradient(243.89deg, #25BA9F 2.05%, #1B7F6D 52.81%, #157161 75.54%, #09463B 101.06%);
}

.feedback__form-header {
   font-size: 36px;
   font-weight: 400;
   line-height: 49.03px;
   letter-spacing: 0.045em;
   color: rgba(255, 255, 255, 1);
   text-transform: uppercase;
   margin: 75px 0 33px;
}

.feedback__form-items {
   font-size: 18px;
   font-weight: 400;
   line-height: 24.51px;
   letter-spacing: 0.025em;
   color: rgba(255, 255, 255, 0.46);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   position: relative;
}

.feedback__form-name {
   border-bottom: 1px solid #fff;
   width: 648px;
   margin-bottom: 34px;
   padding: 0 0 10px 20px;
}

.feedback__form-contacts {
   display: flex;
   justify-content: space-between;
   width: 648px;
}

.feedback__form-email {
   width: 289px;
   height: 35px;
   border-bottom: 1px solid #fff;
   padding: 0 0 10px 20px;
}

.feedback__form-tel {
   width: 297px;
   height: 36px;
   border-bottom: 1px solid #fff;
   padding: 0 0 10px 20px;
}

textarea {
   resize: none;
   /* Запрещаем изменять размер */
}

.feedback__form-textarea {
   width: 648px;
   border: 1px solid rgba(255, 255, 255, 1);
   border-radius: 13px;
   padding-left: 20px;
   margin: 61px 0 0;
   height: 158px;
}

.feedback__form-textarea[placeholder] {
   padding: 22px 20px 20px;
}

.feedback__form-links {
   display: flex;
   position: absolute;
   bottom: 13px;
   right: 12px;
}

.feedback__form-links a:nth-child(1) {
   margin-right: 13px;
}

.footer__wrapper {
   display: flex;
   justify-content: space-around;
   align-items: center;
   border-bottom: 1px solid rgba(189, 189, 189, 1);
   height: 355px;
}

.footer__logo span {
   font-weight: 700;
   font-size: 20px;
   line-height: 27.24px;
   letter-spacing: 0%;
}

.footer__logo {
   width: 318px;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.footer__adress {
   font-weight: 300;
   font-size: 18px;
   line-height: 30.81px;
   letter-spacing: 7%;
   text-transform: uppercase;
   font-style: normal;
   text-align: end;
   padding-right: 10px;
}

.footer__contacts {
   max-width: 100%;
   height: calc(69px + 65px);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-left: 10px;
   margin-right: 10px;
}

.footer__contact-phones {
   display: flex;
   align-items: center;
   gap: 12px;
   justify-content: space-between;
}

.footer__contact-phones a {
   display: flex;
   flex-direction: column;
   text-align: right;
   font-weight: 300;
   font-size: 18px;
   line-height: 30.81px;
   letter-spacing: 6.5%;
}

.footer__contact-mail {
   font-weight: 300;
   font-size: 18px;
   line-height: 30.81px;
   letter-spacing: 6.5%;
   text-transform: uppercase;
   display: flex;
   align-items: center;
   gap: 12px;
}

.footer__contact-social {
   font-weight: 300;
   font-size: 13px;
   line-height: 22.25px;
   letter-spacing: 1.5%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   text-transform: uppercase;
}

.footer__contact-whatsapp,
.footer__contact-telegram {
   display: flex;
   align-items: center;
   gap: 12px;
}

.footer__menu {
   display: flex;
   width: 100%;
   height: 131px;
   justify-content: space-between;
   font-weight: 300;
   font-size: 18px;
   line-height: 33.24px;
   letter-spacing: 7%;
   max-width: calc(123px + 124px + 132px);
}

.footer__menu li+li {
   margin-top: 18px;
}

.footer__menu-col-1 {
   width: 123px;
}

.footer__menu-col-2 {
   width: 132px;
}

.footer__arrow {
   align-self: flex-start;
   margin-top: 107px;
}

.footer__copyright {
   font-weight: 400;
   font-size: 15px;
   line-height: 24px;
   letter-spacing: -1.5%;
   color: rgba(189, 189, 189, 1);
   text-align: end;
   margin: 38px 34px 57px 0;
}
